@{
    ViewBag.Title = "HomePage";
}
@using MvcApplication1.Models;
@*@model List<User>*@

@model User

<!DOCTYPE html>

<h2>HomePage</h2>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
    <link href="~/Content/Menubar.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div class="menu">
            <ul>
                <li class="active"><a href="~/Home/HomePage">Home</a></li>
                <li><a href="~/Home/ProfilePage">Profile</a></li>
                <li><a href="#">Notifications</a></li>
                <li><a href="#">Messages</a></li>
            </ul>
        </div>
    </header>
</body>
</html>
