@{
    ViewBag.Title = "Settings";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="~/Content/Menubar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Settings.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="menu">
            <ul>
                <li><a href="~/Home/HomePage">Home</a></li>
                <br>
                <li><a href="~/Home/ProfilePage">Profile</a></li>
                <br>
                <li><a href="~/Home/Notifications">Notifications</a></li>
                <br>
                <li><a href="~/Home/Messages">Messages</a></li>
                <br>
                <li class="active"><a href="~/Home/Settings">Settings</a></li>
                <br>
                <li><a href="~/Home/LogOut">Logout</a></li>
                <br>
            </ul>
        </div>
    </header>
</body>
</html>
