@{
    ViewBag.Title = "StartUp";
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/StartUp.css" rel="stylesheet" />
</head>
<body>
    @*<img src="https://hdwallsource.com/img/2015/12/twitter-wallpaper-47325-48849-hd-wallpapers.jpg" style="width:500px;height:500px;border:thin" class="center-block">*@

    <div class="fade-out">
        <img class="bottom" src="https://hdwallsource.com/img/2015/12/twitter-wallpaper-47325-48849-hd-wallpapers.jpg" style="width:100%;height:100%" object-fit="contain" />
    </div>
    <script>
        setTimeout(function () {
            window.location.href = '../../home/Loading';
        }, 5000);
    </script>
</body>
</html>
