body {
    background-color: #CCE4F0;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}


/*div.column {
    margin-top: -30%;
}*/

div.centre-column {
    border-color: #ff0000;
    border-width: thin;
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
}

div.tags {
    border-color: #56baed;
    border-width: thin;
    float:right;
    width:20%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
}