body {
    background-color: #CCE4F0;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .column3 {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .feed {
        width: 100%;
    }
}

div.column3 {
    /*border-style: solid;
    border-color: #56baed;
    border-width: thin;*/
    margin-left: 1%;
}

div.feed {
    border-style: solid;
    border-color: #56baed;
    border-width: thin;
    margin-left: 1%;
    margin-right: 0%;
    margin-top: 2%;
    padding: 1%;
}

#like-btn {
    border-radius: 10px;
    padding: 0px;
    background-color: white;
    width: 30px;
    height: 30px;
}

    #like-btn:hover {
        background-color: lightblue;
    }

    #like-btn:active {
        background-color: #0094ff;
        color: white;
    }

#dislike-btn {
    border-radius: 10px;
    padding: 0px;
    background-color: white;
    width: 30px;
    height: 30px;
}

    #dislike-btn:hover {
        background-color: lightblue;
    }

    #dislike-btn:active {
        background-color: #0094ff;
        color: white;
    }

#comment-btn {
    border-radius: 10px;
    padding: 0px;
    background-color: white;
    width: 30px;
    height: 30px;
}

    #comment-btn:hover {
        background-color: lightblue;
    }

    #comment-btn:active {
        background-color: #0094ff;
        color: white;
    }

#tweet-button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #56baed;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left:1%;
}

    #tweet-button:hover {
        background-color: #56baed;
    }

    #tweet-button:active {
        background-color: #56baed;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
/*button {
    border-radius: 10px;
    padding: 0px;
    background-color: white;
    width: 30px;
    height: 30px;
}

    button:active {
        background-color: #0094ff;
        color: white;
    }

    button:hover {
        background-color: lightblue;
    }*/
.user-box img {
    float: left;
    border-radius: 50%;
    border: thin solid #0094ff;
    width: 50px;
    max-width: 50px;
    max-height: 50px;
}

.user-box p#tweet-box {
    /*border:thin solid red;*/
    margin-left: 7%;
    padding: 1%;
}

span#name {
    font-weight: bold;
    font-size: medium;
}

span#details {
    font-size: medium;
}

div.user-box {
    border-left-color: white;
    border-right-color: white;
    border-style: solid;
    border-width: thin;
    border-top-color: #E9E9E9;
    border-bottom-color: #E9E9E9;
    padding: 1%;
}

/*div.centre-column {
    border-style: solid;
    border-color: #56baed;
    border-width: thin;
    margin-left: 26%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 1%;
    padding: 1%;
}*/

img {
    border-radius: 50%;
    border: 2px solid #0094ff;
    width: 150px;
}
