* {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic';
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper

ul {
    float: left;
    list-style-type: none;
    padding: 10px;
    /*border:thin solid #56baed;*/ border:none;
}

    ul li {
    }

        ul li a {
            text-decoration: none;
            font-size:x-large;
            font-weight:bold;
            color:black;
            padding: 5px 20px;
            border: 1px solid #0094ff;
            border-radius: 25px;
            border: none;
            transition: 0.7s ease;
            margin-right: auto;
            width:140px;
            margin-top:5px;
            margin-bottom:5px;
        }

            ul li a:hover {
                background-color: lightblue;
                color: #0094ff;
            }

        ul li.active a{
            color: #0094ff;
        }

ul{
   
}

/*div.menu{
    float: left;
    margin-right:90%;
    border:thin solid red;
}*/