body {
}
.Send_message {
    border-style: solid;
    border-color: #56baed;
    border-width: thin;
    margin-left: 8%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 1%;
    padding: 2%;
    background-color: #f1fafe;
    width:600px;
}
#m_id {
    width: 400px;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
    max-width:400px;
  
}


input[type=button], input[type=submit], input[type=reset] {
   
    background-color: #56baed;
    border: none;
    color: white;
    padding: 12px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 20px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-right:1px;
}

    input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
        background-color: #39ace7;
    }

    input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
        -moz-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -o-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }


div.Message_board {
    border-style: solid;
    border-color: #56baed;
    border-width: thin;
    margin-left: 8%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 1%;
    padding: 2%;
    background-color: #f1fafe;
    max-width: 600px;
    width:600px;
    height:600px;
    max-height:600px;
    
}
div.follower_list {
    border-style: solid;
    border-color: #56baed;
    border-width: thin;
    margin-left: 8%;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-right: 1%;
    padding: 2%;
    background-color: #f1fafe;
    width:300px;
    height:200px;

}
#centre-title {
    font-size: 30px;
    font-family: 'Century Gothic';
    color: #0094ff;
    text-align: center;
    padding: 2px;
    font-weight: bold;
    border-bottom: 2px solid #0094ff;
    margin-left: 30%;
    margin-right: 30%;
}
#centre-title_f {
    font-size: 20px;
    font-family: 'Century Gothic';
    color: #0094ff;
    text-align: center;
    padding: 2px;
    font-weight: bold;
    border-bottom: 2px solid #0094ff;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom:8%;
}


div.message_box {
    border-left-color: white;
    border-right-color: white;
    border-style: solid;
    border-width: thin;
    border-top-color: #E9E9E9;
    border-bottom-color: #E9E9E9;
    padding: 1%;
    transition: 0.9s ease;
}
    div.message_box:hover {
        background-color: #e2ecf1;
    }

.message_box p#message_data {
    padding: 1%;
}

p {
    font-family: 'Century Gothic';
    font-size: large;
}

span#text {
    color:dimgrey;
}
span#name {
    font-weight: bold
}

span#time {
    float: right;
    color: #56baed;
}