body {
    background-color: #CCE4F0;
}

.column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.left {
    width: 25%;
}

.right {
    width: 75%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

div.column {
    margin-top: -45%;
   
}

div.profile {
    border-style: solid;
    border-color: #56baed;
    border-width: thin;
    margin-left: 26%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 1%;
    padding: 1%;
    /*background-color: #e2ecf1;*/
}

div.centre-column{
    border-style:solid;
    border-color:#56baed;
    border-width:thin;
    margin-left:26%;
    margin-top:2%;
    margin-bottom:2%;
    margin-right:1%;
    padding:1%;
}

p{
     font-family:'Century Gothic';
     font-size:large;
}

img{
    border-radius:50%;
    border:2px solid #0094ff;
    width:150px;
}

i.centre-column{
    color:#0094ff;
}

/*button#MyAccount{
    float:right;
    font-size:20px;
    font-weight:bold;
    color:#0094ff;
    border:1px solid #0094ff;
    border-radius:10px;
    padding: 5px 5px;
    background-color:white;
}

button#MyAccount:active{
    background-color: #0094ff;
    color:white;
}
button#MyAccount:hover{
    background-color: lightblue;
}*/

button{
    border-radius:10px;
    padding: 0px;
    background-color:white;
    width:30px;
    height:30px;
}

button:active{
    background-color: #0094ff;
    color:white;
}
button:hover{
    background-color: lightblue;
}

#centre-title{
    font-size:24px;
    font-family:'Century Gothic';
    color:#0094ff;
    text-align:center;
    padding:2px;
    font-weight:bold;
    border-bottom:2px solid #0094ff;
    margin-left:45%;
    margin-right:45%;
}

a,a:active,a:visited,a:link,a:link:active,a:visited:active{
    color:dimgray;
    text-decoration:none;
}

a:hover{
    color:#0094ff;
    text-decoration:underline;
}

.user-box img{
    float:left;
    border-radius:50%;
    border:thin solid #0094ff;
    width:50px;
    max-width:50px;
    max-height:50px;
}

.user-box p#tweet-box{
    /*border:thin solid red;*/
    margin-left:7%;
    padding:1%;
}

span#name{
    font-weight:bold;
    font-size:medium;
}
span#details{
    font-size:medium;
}

div.user-box{ 
    border-left-color:white;
    border-right-color:white;
    border-style:solid;
    border-width:thin;
    border-top-color:#E9E9E9;
    border-bottom-color:#E9E9E9;
    padding:1%;    
}

div.detail-box{
    border-left-color:white;
    border-right-color:white;
    border-style:solid;
    border-width:thin;
    border-top-color:#E9E9E9;
    border-bottom-color:#E9E9E9;
    padding:1%;  
}

.detail-box img{
    float:left;
    border-radius:50%;
    border:thin solid #0094ff;
    width:50px;
    max-width:50px;
    max-height:50px;
}
.detail-box p#detail-box{
    /*border:thin solid red;*/
    margin-left:7%;
    padding:1%;
}
#tag{
    color:dimgray;
    background-color:#E9E9E9;
    border-radius:4px;
    margin-right:30%;
    padding:2px;
}


/*div.modal{
    overflow-y: initial !important;
}

div.modal-content{
    overflow-y:scroll;
}*/


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  /*margin-top:-4%;*/
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height:80%;

  overflow-y:scroll;
  max-height:500px;
  max-width:800px;
}

/* The Close Button */
.close {
  color: dimgray;
  float: right;
  font-size: 24px;
  margin-top:-1%;

  padding-left:0.5%;
  padding-right:0.5%;
  border-radius:25%;
}

.close:hover,
.close:focus {
  background-color: lightblue;
  text-decoration: none;
  cursor: pointer;
}

div.modal-content header{
     position:fixed;
     width:760px;
     font-size:large;
     font-family:'Century Gothic';
     font-weight:bold;
     color:#0094ff;
     background-color:white;
     /*border:thick solid yellow;*/
}