body {
}

.column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.left {
    width: 25%;
}

.right {
    width: 75%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

div.column {
    margin-top: -35%;
   
}

div.row{
    border:thin solid #56baed;
    margin-left:20%;
    margin-top:2%;
    margin-bottom:2%;
    margin-right:1%;
    padding:1%;

    height:550px;
    max-height:550px;
}

img{
    border-radius:50%;
    border:2px solid #56baed;
    width:150px;
    float:right;
}

span{
    font-size:xx-large;
    font-family:'Century Gothic';
}